#contacto {
    width: 100%;
    font-family: 'Space Mono', monospace;
    text-align: center;
    color: var(--navbar-text-color-2);
    background-color: var(--background);
    margin-top: 30px;
}

.title-d {
    font-size: 25px;
}

.c_contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subtitle_footer {
    font-size: 15px;
    padding: 20px 0;
}

.mapa{
    width: 40%;
    padding: 40px;
    flex-basis: 40%;
    flex-grow: 1;
    margin: 0 10px;
}

.redes{
    padding-top: 40px;
    flex-shrink: 2;
    flex-grow: 1;
}

.mapa iframe {
    width: 100%;
    margin-bottom: 60px;
 
}

.footer_links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--navbar-background);
    margin: 90px 10px 10px 0;
    text-align: center;
    align-items: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--navbar-text-color-2);
    transition: all 0.5s ease;
}

.footer_links a:hover {
    color: var(--navbar-background);
    background-color: var(--navbar-text-color-2);
    transform: translateY(-10px);
}
