header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background);
    color: var(--navbar-text-color);
    z-index: 100;
    padding: 10px;
    position: relative;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

header a {
    color: var(--navbar-text-color);
    text-decoration: none;
}

header a h1 {
    display: flex;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid var(--navbar-text-color);
}

.burgerButton {
    display: none;
    font-size: 20px;
    color: white;
}

nav {
    padding: 7px 0;
}

nav a {
    font-size: 15px;
    margin: 0px 5px;
}

.links:hover,
.burgerButton:hover {
    transition: all 0.5s ease;
    scale: 1.05;
    color: var(--navbar-text-color-2);
}

.btn-nav {
    background-color: var(--background);
    padding: 10px;
    margin-top: -7px;
    border-radius: 20px;
}

.btn-nav:hover {
    transition: all 0.5s;
    scale: 1.03;
    background-color: var(--navbar-text-color-2);
}

nav a i {
    font-size: 20px;
    color: var(--navbar-text-color);
}

.container-mensaje {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    text-transform: capitalize;
    font-family: 'Megrim', cursive;
    font-size: 20px;
    background-color: var(--navbar-text-color);
}

.buttonUp {
    display: none;
    place-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 20;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border: 2px outset white;
    border-radius: 5px;
    background-color: rgba(65, 46, 46, 0.781);
    text-align: center;
    padding: 5px;
    transition: all .27s ease-in-out;
    animation: arriba infinite ease-in-out 1.2s alternate-reverse;
}

.buttonUp:hover {
    bottom: 21px;
    background-color: rgb(248, 232, 232);
    color: black;
    transform: scale(1.089);
}

header a h1 {
    animation: hueRotate .8s alternate-reverse infinite;
}

@keyframes hueRotate {
    to {
        scale: 1;
    }
    from {
        scale: 1.1;
        color: var(--navbar-text-color-2);
    }
}