header {
    display: flex;
    background-color: var(--navbar-background);
    color: var(--navbar-text-color);
    padding: 20px;
    position: relative;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    height: 70px;
}

header a {
    color: var(--navbar-text-color);
    text-decoration: none;
}

header a h1 {
    display: flex;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid var(--navbar-text-color);
}

nav {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 7px auto;
    width: 40%;
}

nav a {
    font-size: 15px;
}

nav .links:hover {
    transition: all 0.5s;
    scale: 1.05;
    color: var(--navbar-text-color-2);
}

.btn-nav {
    background-color: var(--background);
    padding: 10px;
    margin-top: -7px;
    border-radius: 20px;
}

.btn-nav:hover {
    transition: all 0.5s;
    scale: 1.03;
    background-color: var(--navbar-text-color-2);
}

nav a i {
    font-size: 20px;
    color: var(--navbar-text-color);
}

.container-mensaje {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    text-transform: capitalize;
    font-family: 'Megrim', cursive;
    font-size: 20px;
    background-color: var(--navbar-text-color);
}

h1 {
    animation: hueRotate 7s alternate infinite;
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(279deg);
    }

    50% {
        filter: hue-rotate(197deg);
    }

    100% {
        filter: hue-rotate(12deg);
    }
}