@import url(variables.css);
@import url(header.css);
@import url(destacados.css);
@import url(productos.css);
@import url(footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-b);
}