[tag=title-d] {
    text-align: center;
    margin: 25px auto;
    font-size: 2.3rem;
    text-transform: capitalize;
}

#productos {
    margin: 20px auto;
    padding: 10px;
}

[tag=c_productos] {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

[tag=c_productos] [tag=producto] {
    flex-grow: 2;
    flex-shrink: 1;
    flex-shrink: 400px;
    height: 300px;
    position: relative;
    background-color: var(--color-w);
    overflow: hidden;
    border-radius: 20px;
    transition: all .15s ease-in-out;
}

[tag=c_productos] [tag=producto]:hover {
    box-shadow: 1px 1px 7px 1px var(--color-secund);
    transform: skew(.6deg, .3deg);
}


[tag=producto]:hover [tag=contenedor] {
    opacity: 1;
    transform: translateY(-90px);
}

[tag=c_productos] [tag=producto]:hover img {
    transform: translateY(-40px);
}

[tag=contenedor] {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 300px;
    transition: all .15s ease-in-out;
}

[tag=producto] img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    transition: all .15s ease-in-out;
}

[tag=fondo] {
    background-color: rgba(40, 38, 42, 0.95);
    position: absolute;
    width: 100%;
    height: 100%;
}

[tag=texto2] {
    position: absolute;
    z-index: 10;
    color: var(--color-w);
    width: 100%;
    height: 100%;
}

[tag=texto2] h2,
p {
    text-align: center;
    font-size: larger;
}

[tag=texto2] h2 {
    font-size: 1.5rem;
    margin: 3px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

[tag=texto2] p {
    font-size: 1rem;
    margin: 10px 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding:0 55px;
}

[tag=texto2] p::first-letter,
h2::first-letter {
    text-transform: uppercase;
}

.btn-add-cart {
    position: absolute;
    right: 8px;
    top: 43px;
    color: white;
    border-radius:8px;
    background-color: transparent;
    font-size: 1.2rem;
    border-width: 1px;
    padding: 5px 10px;
    border: 0;

}

.btn-add-cart:hover{
    color: yellow;
    border-style: inset;
}
.btn-add-cart:active{
    color: orange;
    border-style: inset;
    background-color:  rgba(40, 38, 42, 0.99);
}