:root {
    --navbar-background: #111111;
    --background: #1a1919;
    --navbar-text-color: #FFFFFF;
    --navbar-text-color-2: #BF4342;
    --bcb: #b85c45;
    --bcb-2: #164eb4;
    --scroll-3: #444444;
    --color-1: #11100f81;
}